.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 65px;
  margin-bottom: 10px;
}

.bg {
  backdrop-filter: blur(40px);
  border-radius: 10px;
  padding-block: 10px;
}
.navigation-action {
  display: flex;
  justify-content: space-between;
}
.b-wid {
  width: 20%;
}

.skills,
.pro-item,
.addresses,
.descreption,
.achievements,
.github-url,
.linkedin-url {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* .skills,
.pro-item,
.addresses,
.descreption,
.achievements,
.github-url,
.linkedin-url > input {
  margin-inline-end: 20%;
} */